@use 'variables' as *;

/* Main SKIN styling set */
.flyin-dialog {
  .flyin-wrapper {
    background: var(--flyin-bg);
    border-radius: var(--flyin-border-radius);
    box-shadow: var(--flyin-shadow);
    border: var(--flyin-border);

    .flyin-header {
      background: var(--flyin-header-bg);
      border-radius: var(--flyin-border-radius) var(--flyin-border-radius) 0 0;
      padding: var(--flyin-padding);
      border-bottom: 1px solid var(--flyin-header-border-color);
      position: relative;

      h5 {
        color: var(--flyin-title-color);
        font-size: var(--flyin-title-size);
        font-weight: var(--flyin-title-weight);
        text-transform: var(--flyin-title-transform);
        text-shadow: var(--flyin-title-shadow);
        margin: 0;
        padding: 0;
        line-height: 24px;
        border-bottom: var(--flyin-title-border-bottom);
      }
    }

    .flyin-button-close {
      -webkit-appearance: none;
      color: var(--flyin-close-btn-color);
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;
      text-shadow: var(--flyin-title-shadow);
    }

    > .flyin-button-close {
      position: absolute;
      right: var(--flyin-padding);
      top: var(--flyin-padding);
    }

    .flyin-content {
      padding: var(--flyin-padding);
      color: var(--flyin-content-color);
    }

    .flyin-footer {
      background: var(--flyin-footer-bg);
      border-radius: 0 0 var(--flyin-border-radius) var(--flyin-border-radius);
      padding: var(--flyin-padding);
      border-top: 1px solid var(--flyin-footer-border-color);
      text-align: center;

      button {
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 1px solid transparent;
        background: none;
        border: none;
        color: var(--flyin-footer-btn-color);
        font-size: var(--flyin-footer-btn-size);
        text-transform: var(--flyin-footer-btn-transform);
        letter-spacing: var(--flyin-footer-btn-letter-spacing);
        font-weight: var(--flyin-footer-btn-weight);
      }
    }
  }

  &.flyin-button-alt {
    .flyin-wrapper .flyin-button-close {
      background: var(--flyin-close-btn-color);
      box-shadow: var(--flyin-shadow);
      color: var(--flyin-white);
      text-shadow: none;
    }
  }
}

/* Skins overrides */

/* style: plain white */
.flyin-style-plain-white {
  // Uses defaults
}

/* style: plain black */
.flyin-style-plain-black {
  --flyin-bg: #111111;
  --flyin-header-border-color: #555555;
  --flyin-title-color: var(--flyin-white);
  --flyin-close-btn-color: var(--flyin-gray);
  --flyin-content-color: var(--flyin-white);
  --flyin-footer-border-color: #555555;
  --flyin-footer-btn-color: #eeeeee;

  &.flyin-button-alt {
    .flyin-wrapper .flyin-button-close {
      background: var(--flyin-white);
      color: #111111;
    }
  }
}

/* style: clean gray */
.flyin-style-clean-gray {
  --flyin-bg: #fbfbfb;
  --flyin-border-radius: 6px;
  --flyin-shadow: 1px 1px 5px rgba(32, 32, 32, 0.6);
  --flyin-header-bg: #bbbbbb;
  --flyin-header-border-color: transparent;
  --flyin-title-color: #111;
  --flyin-title-shadow: 1px 1px 1px #eee;
  --flyin-close-btn-color: #666666;
  --flyin-padding: 15px;
  --flyin-footer-bg: #eeeeee;
  --flyin-footer-border-color: transparent;
  --flyin-footer-btn-size: 16px;
  --flyin-footer-btn-transform: uppercase;
  --flyin-footer-btn-letter-spacing: 2px;
}

/* style: box red */
.flyin-style-box-red {
  --flyin-bg: #fff1f1;
  --flyin-border-radius: 0;
  --flyin-border: 4px solid #c43636;
  --flyin-shadow: 1px 1px 5px rgba(32, 32, 32, 0.6);
  --flyin-header-bg: #c43636;
  --flyin-header-border-color: transparent;
  --flyin-title-color: var(--flyin-white);
  --flyin-title-weight: 900;
  --flyin-title-transform: uppercase;
  --flyin-title-border-bottom: 4px solid #c43636;
  --flyin-close-btn-color: #550000;
  --flyin-padding: 15px;
  --flyin-footer-bg: #ffdada;
  --flyin-footer-border-color: transparent;
  --flyin-footer-btn-color: #c43636;
  --flyin-footer-btn-weight: bold;
  --flyin-footer-btn-size: 16px;
  --flyin-footer-btn-transform: uppercase;
  --flyin-footer-btn-letter-spacing: 2px;
}
