@use 'variables' as *;

.flyin-dialog {
  &.flyin-effect-rotatebottom,
  &.flyin-effect-rotatetop,
  &.flyin-effect-rotateleft,
  &.flyin-effect-rotateright,
  &.flyin-effect-flipverbottom,
  &.flyin-effect-flipvertop,
  &.flyin-effect-fliphorright,
  &.flyin-effect-fliphorleft,
  &.flyin-effect-flipsign,
  &.flyin-effect-flipsignfront,
  &.flyin-effect-fallcenter,
  &.flyin-effect-fallleft,
  &.flyin-effect-fallright {
    perspective: 1500px;
  }

  .flyin-wrapper {
    opacity: 0;
    transition: all var(--flyin-dialog-speed);
  }

  &.flyin-active .flyin-wrapper {
    opacity: 1;
  }
}

/* scale */
.flyin-effect-scale {
  .flyin-wrapper {
    transform: scale(2);
  }

  &.flyin-active .flyin-wrapper {
    transform: scale(1);
  }
}

/* zoomfade */
.flyin-effect-zoomfade {
  .flyin-wrapper {
    transform: scale(0.2);
  }

  &.flyin-active .flyin-wrapper {
    transform: scale(1);
  }
}

/* slideinright */
.flyin-effect-slideinright {
  .flyin-wrapper {
    transition-timing-function: cubic-bezier(0.3, 0.6, 0.6, 0.9);
    transform: translateX(50%);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateX(0);
  }
}

/* slideinleft */
.flyin-effect-slideinleft {
  .flyin-wrapper {
    transition-timing-function: cubic-bezier(0.3, 0.6, 0.6, 0.9);
    transform: translateX(-50%);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateX(0);
  }
}

/* slideinbottom */
.flyin-effect-slideinbottom {
  .flyin-wrapper {
    transition-timing-function: cubic-bezier(0.3, 0.6, 0.6, 0.9);
    transform: translateY(50%);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateY(0);
  }
}

/* slideintop */
.flyin-effect-slideintop {
  .flyin-wrapper {
    transition-timing-function: cubic-bezier(0.3, 0.6, 0.6, 0.9);
    transform: translateY(-50%);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateY(0);
  }
}

/* newspaper */
.flyin-effect-newspaper {
  .flyin-wrapper {
    transform: scale(0) rotate(720deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: scale(1) rotate(0deg);
  }
}

/* fallcenter */
.flyin-effect-fallcenter {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateZ(600px) rotateX(20deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateZ(0px) rotateX(0deg);
  }
}

/* fallleft */
.flyin-effect-fallleft {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateZ(600px) rotateX(20deg) rotateY(10deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateZ(0px) rotateX(0deg) rotateY(0deg);
  }
}

/* fallright */
.flyin-effect-fallright {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateZ(600px) rotateX(20deg) rotateY(-10deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: translateZ(0px) rotateX(0deg) rotateY(0deg);
  }
}

/* fliphorleft */
.flyin-effect-fliphorleft {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateY(0deg);
  }
}

/* fliphorright */
.flyin-effect-fliphorright {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateY(70deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateY(0deg);
  }
}

/* flipvertop */
.flyin-effect-flipvertop {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateX(-70deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateX(0deg);
  }
}

/* flipverbottom */
.flyin-effect-flipverbottom {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateX(70deg);
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateX(0deg);
  }
}

/* flipsign */
.flyin-effect-flipsign {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateX(-60deg);
    transform-origin: 50% 0%;
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateX(0deg);
  }
}

/* flipsignfront */
.flyin-effect-flipsignfront {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
    transform-origin: 0% 50%;
  }

  &.flyin-active .flyin-wrapper {
    transform: rotateY(0deg);
  }
}

/* rotatebottom */
.flyin-effect-rotatebottom {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0% 100%;
  }

  &.flyin-active .flyin-wrapper {
    transform: translateY(0%) rotateX(0deg);
  }
}

/* rotatetop */
.flyin-effect-rotatetop {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateY(-100%) rotateX(-90deg);
    transform-origin: 0% 0%;
  }

  &.flyin-active .flyin-wrapper {
    transform: translateY(0%) rotateX(0deg);
  }
}

/* rotateleft */
.flyin-effect-rotateleft {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateX(-100%) rotateY(90deg);
    transform-origin: 0% 100%;
  }

  &.flyin-active .flyin-wrapper {
    transform: translateX(0%) rotateY(0deg);
  }
}

/* rotateright */
.flyin-effect-rotateright {
  .flyin-wrapper {
    transform-style: preserve-3d;
    transform: translateX(100%) rotateY(-90deg);
    transform-origin: 100% 0%;
  }

  &.flyin-active .flyin-wrapper {
    transform: translateX(0%) rotateY(0deg);
  }
}
