// Base Prefix
$sanp-prefix: 'sanp';

// Z-index
$sanp-z-index: 1000000;

// Colors
$sanp-white: #ffffff;
$sanp-black: #000000;
$sanp-gray-dark: #444444;
$sanp-gray: #888888;
$sanp-gray-light: #dddddd;
$sanp-shadow-color: rgba(32, 32, 32, 0.3);

// Overlay
$sanp-overlay-opacity: 0.7;
$sanp-overlay-speed: 0.07s;

// Dialog
$sanp-dialog-speed: 0.7s;
$sanp-border-radius: 4px;

// Skins
$sanp-plain-white-bg: $sanp-white;
$sanp-plain-white-header-border: $sanp-gray-light;
$sanp-plain-white-title-color: $sanp-gray-dark;
$sanp-plain-white-btn-color: $sanp-gray;
