@use 'partials/variables' as *;
@use 'partials/animations';
@use 'partials/transitions';
@use 'partials/skins';

.#{$flyin-prefix}-sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.#{$flyin-prefix}-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  opacity: 0;
  left: 0;

  &.#{$flyin-prefix}-active {
    visibility: visible;
  }
}

.#{$flyin-prefix}-active body {
  overflow: hidden;
}

.#{$flyin-prefix}-dialog {
  position: fixed;
  backface-visibility: hidden;
  visibility: hidden;
  box-sizing: border-box;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  &.#{$flyin-prefix}-inactive,
  &.#{$flyin-prefix}-active {
    visibility: visible;
  }

  &.#{$flyin-prefix}-skin-free {
    .#{$flyin-prefix}-header {
      cursor: move;
    }
  }

  &.#{$flyin-prefix}-drag {
    cursor: move !important;

    .#{$flyin-prefix}-header {
      cursor: move !important;
    }
  }

  .#{$flyin-prefix}-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    .#{$flyin-prefix}-content {
      overflow: auto;
      position: relative;
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .#{$flyin-prefix}-button-close {
      z-index: 200;
      margin: 0;
      padding: 0;
      position: relative;
      outline: 1px solid transparent;
      background: none;
      border: none;
      cursor: pointer;
      float: right;

      svg {
        width: 16px;
        height: 16px;
        display: block;
        fill: currentColor;
      }
    }
  }

  .#{$flyin-prefix}-footer {
    position: relative;

    .#{$flyin-prefix}-grip {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      cursor: nwse-resize;
      color: rgba(0, 0, 0, 0.2);

      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

.#{$flyin-prefix}-button-alt {
  .#{$flyin-prefix}-wrapper .#{$flyin-prefix}-button-close {
    border-radius: 50% !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 4px !important;
    right: -12px !important;
    top: -12px !important;
  }
}
