@use 'variables' as *;

.#{$sanp-prefix}-sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.#{$sanp-prefix}-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  opacity: 0;
  left: 0;

  &.#{$sanp-prefix}-active {
    visibility: visible;
  }
}

.#{$sanp-prefix}-active body {
  overflow: hidden;
}

.#{$sanp-prefix}-dialog {
  position: fixed;
  backface-visibility: hidden;
  visibility: hidden;

  &.#{$sanp-prefix}-inactive,
  &.#{$sanp-prefix}-active {
    visibility: visible;
  }

  .#{$sanp-prefix}-wrapper {
    position: relative;
    margin: 0 auto;

    .#{$sanp-prefix}-content {
      overflow: auto;
      position: relative;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    > button {
      z-index: 200;
      margin: 0;
      padding: 0;
      position: relative;
      outline: 1px solid transparent;
    }
  }

  .#{$sanp-prefix}-footer {
    .#{$sanp-prefix}-grip {
      border-top: 24px solid rgba(0, 0, 0, 0.1);
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      transform: rotate(-45deg);
      position: fixed;
      right: -14px;
      bottom: -2px;
    }
  }
}

.#{$sanp-prefix}-button-alt {
  .#{$sanp-prefix}-wrapper > button {
    border-radius: 50% !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 4px !important;
    right: -12px !important;
    top: -12px !important;
  }
}

/* style: plain white */
.#{$sanp-prefix}-style-plain-white {
  .#{$sanp-prefix}-wrapper {
    background: $sanp-plain-white-bg;
    border-radius: $sanp-border-radius;
    box-shadow: 1px 1px 4px $sanp-shadow-color;

    .#{$sanp-prefix}-header {
      border-radius: $sanp-border-radius $sanp-border-radius 0 0;
      padding: 10px;
      border-bottom: 1px solid $sanp-plain-white-header-border;

      h5 {
        color: $sanp-plain-white-title-color;
        font-size: 18px;
        margin: 0;
        padding: 0;
        line-height: 24px;
      }
    }

    > button {
      -webkit-appearance: none;
      outline: 1px solid transparent;
      background: none;
      border: none;
      color: $sanp-plain-white-btn-color;
      cursor: pointer;
      float: right;
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;
      right: 10px;
      top: 10px;
    }

    .#{$sanp-prefix}-content {
      padding: 10px;
    }

    .#{$sanp-prefix}-footer {
      border-radius: 0 0 $sanp-border-radius $sanp-border-radius;
      padding: 10px;
      border-top: 1px solid $sanp-plain-white-header-border;
      text-align: center;

      button {
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 1px solid transparent;
        background: none;
        border: none;
      }
    }
  }

  &.#{$sanp-prefix}-button-alt {
    .#{$sanp-prefix}-wrapper > button {
      background: $sanp-plain-white-btn-color;
      box-shadow: 1px 1px 4px $sanp-shadow-color;
      color: $sanp-white;
    }
  }
}
