/*
Smart Animated Popup v1.8
https://www.smartplugins.info/plugin/javascript/smart-animated-popup/

Copyright 2008 - 2019 Milan Petrovic (email: support@dev4press.com)

https://www.dev4press.com
https://www.smartplugins.info
*/

.sanp-sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.sanp-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    opacity: 0;
    left: 0;
}

.sanp-overlay.sanp-active {
    visibility: visible;
}

.sanp-active body {
    overflow: hidden;
}

.sanp-dialog {
    position: fixed;
    backface-visibility: hidden;
    visibility: hidden;
}

.sanp-dialog.sanp-inactive,
.sanp-dialog.sanp-active {
    visibility: visible;
}

.sanp-dialog .sanp-wrapper {
    position: relative;
    margin: 0 auto;
}

.sanp-dialog .sanp-wrapper .sanp-content {
    overflow: auto;
    position: relative;
}

.sanp-dialog .sanp-wrapper > button {
    z-index: 200;
    margin: 0;
    padding: 0;
    position: relative;
    outline: 1px solid transparent;
}

.sanp-dialog .sanp-wrapper .sanp-content img {
    max-width: 100%;
    height: auto;
}

.sanp-button-alt .sanp-wrapper > button {
    border-radius: 50% !important;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 4px !important;
    right: -12px !important;
    top: -12px !important;
}

/* style: plain white */
.sanp-style-plain-white .sanp-wrapper {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(32, 32, 32, .3);
}

.sanp-style-plain-white .sanp-wrapper .sanp-header {
    border-radius: 4px 4px 0 0;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.sanp-style-plain-white .sanp-wrapper > button {
    -webkit-appearance: none;

    outline: 1px solid transparent;
    background: none;
    border: none;
    color: #888888;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    right: 10px;
    top: 10px;
}

.sanp-style-plain-white .sanp-wrapper .sanp-header h5 {
    color: #444444;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.sanp-style-plain-white .sanp-wrapper .sanp-content {
    padding: 10px;
}

.sanp-style-plain-white .sanp-wrapper .sanp-footer {
    border-radius: 0 0 4px 4px;
    padding: 10px;
    border-top: 1px solid #dddddd;
    text-align: center;
}

.sanp-style-plain-white .sanp-wrapper .sanp-footer button {
    -webkit-appearance: none;

    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: 1px solid transparent;
    background: none;
    border: none;
}

.sanp-style-plain-white.sanp-button-alt .sanp-wrapper > button {
    background: #888888;
    box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.3);
    color: #fff;
}
